In [5]:
import pandas as pd

catalog = pd.DataFrame({
    "SKU": ["a1 ", " b2", "c3", None],
    "ProductName": [" Mug ", "Shirt ", " Hat", "Jeans"],
    "Category": ["HOME ", " clothes", None, "clothes "]
})

sales = pd.DataFrame({
    "InvoiceNo": [201, 202, 203, 204],
    "SKU": ["A1", "B2", "C3", "D4"],
    "Quantity": [2, 1, 3, 2]
})

prices = {"A1": 5.0, "B2": 15.0, "C3": 10.0, "D4": 20.0}

catalog["SKU"] = catalog["SKU"].str.strip().str.upper().fillna("unknown")
catalog["ProductName"] = catalog["ProductName"].str.strip().str.lower()
catalog["Category"] = catalog["Category"].str.strip().str.lower().fillna("unknown")

dfFull = sales.merge(catalog, on="SKU", how="left")

print(dfFull)

dfFull["unitPrice"] = dfFull["SKU"].map(prices)
dfFull["revenue"] = dfFull["Quantity"] * dfFull["unitPrice"]

print(dfFull)

g = (dfFull.groupby(["Category"])["revenue"].sum().reset_index(name="totalRevenue")
    .sort_values(["Category","totalRevenue"], ascending=[False,True]))

print(g)

   InvoiceNo SKU  Quantity ProductName Category
0        201  A1         2         mug     home
1        202  B2         1       shirt  clothes
2        203  C3         3         hat  unknown
3        204  D4         2         NaN      NaN
   InvoiceNo SKU  Quantity ProductName Category  unitPrice  revenue
0        201  A1         2         mug     home        5.0     10.0
1        202  B2         1       shirt  clothes       15.0     15.0
2        203  C3         3         hat  unknown       10.0     30.0
3        204  D4         2         NaN      NaN       20.0     40.0
  Category  totalRevenue
2  unknown          30.0
1     home          10.0
0  clothes          15.0