In [6]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset directly from Seaborn
titanic = sns.load_dataset("titanic")
print(titanic.head())
print(titanic.info())

# 1) Select specific columns
titanic_select = titanic[["sex","age","fare"]]
print("Selected columns:\n", titanic_select.head())

# 2) Filter passengers older than 50
titanic_over50 = titanic.loc[titanic["age"] > 50, ["sex","age","fare"]]
print("\nPassengers over 50:\n", titanic_over50.head())

# 3) Count missing values in 'age' column
titanic_null_count = titanic[["age"]].isnull().sum()
print("\nMissing values in 'age':\n", titanic_null_count)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
Selected columns:
       sex   age     fare
0    male  22.0   7.2500
1  female  38.0  71.2833
2  female  26.0   7.9250
3  female  35.0  53.1000
4    male  35.0   8.0500

Passengers over 50:
        sex   age     fare
6     male  54.0  51.8625
11  female  58.0  26.5500
15  female  55.0  16.0000
33    male  66.0  10.5000
54    male  65.0  61.9792

Missing values in 'age':
 age    177
dtype: int64