In [12]:
import seaborn as sns
import pandas as pd

# Load Titanic dataset directly from Seaborn
titanic = sns.load_dataset("titanic")
print(titanic.head())
print(titanic.info())

# --- Part 2: cleaning + engineered feature + groupby + pivot ---


titanic["age"] = titanic["age"].fillna(titanic["age"].median())

# 2) Family size feature (siblings/spouses + parents/children)
titanic["family_size"] = titanic["sibsp"] + titanic["parch"]

# 3) Survival rate by sex & class
survival_rate = (
    titanic.groupby(["sex", "class"])["survived"]
           .mean()
           .reset_index(name="survival_rate")
           .sort_values(["sex", "class"])
)
print("Survival rate by sex & class:\n", survival_rate.head(10))

# 4) Average fare pivot (rows=sex, columns=class)
average_fare = pd.pivot_table(
    titanic,
    values="fare",
    index="sex",
    columns="class",
    aggfunc="mean"
).round(2)

print("\nAverage fare (pivot):\n", average_fare)

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
Survival rate by sex & class:
       sex   class  survival_rate
0  female   First       0.968085
1  female  Second       0.921053
2  female   Third       0.500000
3    male   First       0.368852
4    male  Second       0.157407
5    male   Third       0.135447

Average fare (pivot):
 class    First  Second  Third
sex
female  106.13   21.97  16.12
male     67.23   19.74  12.66

/tmp/ipython-input-1494095915.py:19: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic.groupby(["sex", "class"])["survived"]
/tmp/ipython-input-1494095915.py:27: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  average_fare = pd.pivot_table(